<!-- Deja un margin top de 5 pixel o algo asi -->
<div class="container mt-5">

    <div class="row">
        <!--deja dos columnas vacias a la izquierda-->
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS ñ</span>
                    <!-- Clase para alinear el boton a la derecha con b5 float-end-->
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    
                    <!-- Clase para margin top-5 y formato de tabla striped-->
                    <table class="table table-striped mt-5">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Coca Cola</th>
                            <td>Bebidas</td>
                            <td>Buenos Aires</td>
                            <td>2</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                               
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>